<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
		<add name="ConnectionStringDB" connectionString="Data Source=PT;Initial Catalog=master;Integrated Security=True"></add>
</connectionStrings>
	
	<!--First Scenario-->
<appSettings>
		<add key="parentTableName" value="Managers"/>
		<add key="childTableName" value="Mechanics"/>
		<add key="parentColPK" value="id_manager"/>
		<add key="childColFK" value="coordinator_manager"/>
		<add key="selectAllParents" value="Select * from Managers"/>
		<add key="selectAllChildren" value="Select * from Mechanics"/>
</appSettings>

	<!--Second Scenario-->
<!--<appSettings>
	<add key="parentTableName" value="Tools"/>
	<add key="childTableName" value="Parts"/>
	<add key="parentColPK" value="tool_id"/>
	<add key="childColFK" value="tool_id"/>
	<add key="selectAllParents" value="Select * from Tools"/>
	<add key="selectAllChildren" value="Select * from Parts"/>
</appSettings>-->
	
	
</configuration>